.home-container .espp-header-container {
  font-size: 36px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(276deg, #9953f3, #5412dc);
  padding-top: 43px;
  padding-bottom: 28px;
}

.home-container .espp-header-container p {
  margin-bottom: 0px;
}

.home-container .cake-logo-with-words-container {
  background-image: url(../public/calculator/logo-with-words.png);
  background-size: cover;
  height: 69px;
  width: 186px;
  position: absolute;
  right: 55.5px;
  top: 30.5px;
}

@media screen and (max-width: 1000px) {
  .home-container .cake-logo-with-words-container {
    display: none;
  }
}

.home-container .espp-calculator-footer {
  padding: 43px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0px;
  color: #4a4a4a;
}

.home-container .espp-calculator-footer p.what-is-cake-fin {
  font-size: 22px;
  font-weight: bold;
}

.home-container .espp-standalone-logo-container {
  background-image: url(../public/calculator/cake-logo-standalone.png);
  background-size: cover;
  width: 96px;
  height: 60px;
  margin-bottom: 30px;
}
