.espp-details-collector-container .ant-input-number-handler-wrap {
    display: none;
}

.espp-details-collector-container .ant-input-number-input {
    text-align: right;
}

.espp-details-collector-container .ant-form {
    max-width: 500px;
    margin: 0 auto;
}